/** @format */

input[type="text"],
input[type="email"] {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid var(--forest2);
  margin: 10px 0;
}

#form-section {
  background-color: var(--forest3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px 600px;
  padding: 10px;
  background-color: var(--forest2);
  width: 500px;
  align-items: center;
  border-radius: 4px;
}

label {
  padding: 15px 0;
  color: var(--forest7);
  border-radius: 5px;
}

textarea {
  width: 250px;
  border: 2px solid var(--forest1);
  border-radius: 5px;
}

input {
  margin: 50px 0;
}

#form-section button {
  width: 100%;
  background-color: var(--forest5);
  color: var(--forest7);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#form-section button:hover {
  background-color: var(--forest3);
  box-shadow: 2px 2px 5px var(--forest1);
}
