#education {
    padding: 20px 0 !important;
    color: var(--dark3);
    text-align: center;
    /* background-image: linear-gradient(45deg, var(--gradients)); */
  }
  
  #edDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  #education h1 {
    color: var(--dark2);
  }
  
  #education dl {
    margin-left: 20px;
    font-size: larger;
  }
  