#education {
    padding: 50px 0;
    color: var(--forest7);
    background-color: var(--forest3);
    text-align: center;
  }
  
  #edDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  #education h1 {
    color: var(--forest4);
  }
  
  #education dl {
    margin-left: 20px;
    font-size: larger;
  }
  