footer div {
    background-color: #EFEAD8;
    height: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 140px;
  }
  
  footer a {
    text-decoration: none;
    color: #D0C9C0;
  }
  
  footer button {
    background-color: #EFEAD8;
    border: none;
    color: pink;
    margin: 30px 70px;
    font-size: 40px;
    cursor: pointer;
  }

  footer a:hover {
    color: #6D8B74;
  }