/** @format */

#aboutMe {
  background-image: var(--backgroundImg1);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  padding-top: 60px;
}

#aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--light2);
}

#aboutH1 {
  position: relative;
  color: var(--light2);
  margin: 35px 0px;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

.animation {
  color: var(--light1);
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
  font-size: 2em;
}

.animationText {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 950px) {
  .sarahImg {
    width: 75%;
  }
}

#skillIconsDiv {
  text-align: center;
  background-color: var(--opaqueDark1);
  border-radius: 5px;
  margin: 30px;
  display: flex;
  padding: 10px 0px;
  justify-content: space-evenly;
}

#skillIconsDiv a img {
  width: 100% !important;
}

#aboutMeText {
  width: 50%;
  margin: 50px;
  color: var(--light1);
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
  text-align: center;
  border: 2px solid var(med1);
  background-color: var(--opaqueDark1);
  border-radius: 5px;
  padding: 10px;
}
.nameHover {
  position: relative;
  display: inline-block;  
}
.nameText {
  visibility: hidden;
  background-color: var(--dark1);
  color: #fff;
  text-align: center !important;
  border-radius: 6px;
  padding: 10px !important;
  font-size: small;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-top: 80px;
  margin-bottom: 20px;
}

.nameHover:hover .nameText {
  visibility: visible;
}

#skillIconsDiv button {
  background-color: transparent;
  border: none;
  font-size: 50px;
  width: 10%;
}
