#backgroundImg {
    background-image: url("../images/trees.jpg") ;
    height: 800px;
  }
  
  
  #aboutMe {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--dark2);
  }
  
  #aboutH1 {
    position: relative;
    color: var(--med1);
    margin: 35px 0px;
  }
  
  .sarahImg {
    border-radius: 30%;
    border: 2px solid var(--dark1);
    height: 302px;
    margin-bottom: 50px;
  }
  
  #infoText {
    font-size: larger;
    color: var(--light1);
  }