/** @format */

#myWork {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: var(--med1);

  background-image: var(--backgroundImg1) ;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

Col {
  display: flex;
  justify-content: center;
}

#myWork img {
  border: 2px solid var(--dark3);
  width: 400px;
}

img:hover {
  box-shadow: 2px 2px 5px var(--dark1);
}

#myWork h1 {
  padding-bottom: 10px;
  color: var(--dark1);
}

/* divs */

#myWork a {
  border: 2px solid var(--dark3);
  color: var(--light3);
  background-color: var(--dark2);
}

#myWork a:hover {
  box-shadow: 2px 2px 5px var(--dark1);
}

/* p elements */

#myWork p {
  color: var(--dark2);
  font-size: large;
  text-align: center;
  padding: 10px;
  margin: 0;
}

