/** @format */

#my-work {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #E9E5D6;
}

#page2 {
  display: none;
}

#my-work img {
  border: 2px solid #a2b29f;
  width: 400px;
}

#my-work h1 {
  padding-bottom: 10px;
  color: #464F41;
}

/* divs */

#my-work a {
  border: 2px solid #a2b29f;
  color: #d0c9c0;
  background-color: #798777;
}

/* p elements */

#my-work p {
  color: #798777;
  font-size: large;
  text-align: center;
  padding: 10px;
  margin: 0;
}
