/** @format */

#my-work {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: var(--forest6);
}

#page2 {
  display: none;
}

#my-work img {
  border: 2px solid var(--forest3);
  width: 400px;
}

#my-work h1 {
  padding-bottom: 10px;
  color: var(--forest1);
}

/* divs */

#my-work a {
  border: 2px solid var(--forest3);
  color: var(--forest5);
  background-color: var(--forest2);
}

/* p elements */

#my-work p {
  color: var(--forest2);
  font-size: large;
  text-align: center;
  padding: 10px;
  margin: 0;
}
