/** @format */

* {
  max-width: 100%;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: var(--light2);
  padding: 0;
  margin: 0;
}

#navbar {
  display: flex;
  background-color: var(--dark1);
  height: 100px;
  position: fixed !important;
  width: 100%;
  align-items: center;
  z-index: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#title {
  width: 300px;
  text-decoration: none;
  color: var(--dark3);
  font-size: 37px;
}

#navTabs ul {
  float: right;
  text-align: center;
  background-color: rgba(51, 61, 41, 0.3);
  width: 100px !important;
}

#navTabs a:hover {
  color: var(--dark1);
  text-shadow: 2px 2px var(--med1);
}

a.nav-link {
  text-decoration: none;
  color: var(--med1);
}

a.nav-link:hover {
  text-shadow: 2px 2px 5px var(--dark3);
}

svg {
  font-size: 40px !important;
  color: var(--light2);
}

button:hover {
  text-shadow: 2px 2px 5px var(--dark3) !important;
}
