:root {
  --forest1: #333d29;
  --forest2: #414833;
  --forest3: #656d4a;
  --forest4: #a4ac86;
  --forest5: #c2c5aa;
  --forest6: #f0ead2;
  --forest7: #f8ede3;
}

* {
    max-width: 100%;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  body {
    background-color: var(--forest6);
    padding: 0;
    margin: 0;
  }

  header {
    display: flex;
    background-color: var(--forest1);
    height: 100px;
    position: sticky;
    width: 100%;
    align-items: center;
    z-index: 1;
  }
  #title a{
    text-decoration: none;
    color: var(--forest7);
  }
  
  header h1 {
    padding-left: 30px;
    width: 500px;
  }
  
  nav {
    justify-content: end;
    width: 100%;
  }
  
  nav ul {
    position: relative;
    text-align: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-flex;
    padding: 15px;
    font-size: large;
  }
  
  a.nav-link {
    text-decoration: none;
    color: var(--forest4);
  }

  a.nav-link:hover {
    text-shadow: 2px 2px 5px var(--forest3);
  }