/** @format */

#resume {
  padding: 100px 0px 30px 0px;
  height: auto;
  text-align: center;
  background-color: var(--dark2);
  color: var(--light3);
}

#resume h1 {
  padding: 15px;
  color: var(--light2);
}

#resume button {
  width: 20%;
  background-color: var(--dark1);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#resume button:hover {
  background-color: var(--dark1);
  box-shadow: 2px 2px 5px var(--dark1);
}

#education {
  color: var(--light2);
}

dl {
  margin-left: 30px;
  font-size: larger;
  text-align: left;
}

.table {
  background-color: var(--light3);
  width: 80% !important;
  margin: auto 0px;
}

#skills {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

th {
  font-size: large;
}

.horizontal {
  height: 1150px;
  color: var(--dark1);
  background-color: var(--dark1);
  width: 5px;
  border: 2px solid var(--dark1);
  border-radius: 5px;
  margin-top: 120px;
}

span {
  color: red;
}

h5 {
  text-align: left;
  margin-left: 30px;
}

#activities hr {
  background-color: var(--dark1);
  border-radius: 5px;
  border: 3px solid var(--dark1);
  width: 80%;
  margin: 23px auto;
}

.smallHr {
  width: 50% !important;
}

.skillsH1 {
  text-align: left;
  margin: 30px;
  padding: 0px !important;
}