#resume {
    height: 190px;
    text-align: center;
    background-color: var(--forest5);
}

#resume h1 {
    padding: 15px;
}

#resume button {
    width: 20%;
    background-color: var(--forest2);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#resume button:hover {
    background-color: var(--forest3);
}

#resume a {
    text-decoration: none;
    color: var(--forest7);
}