/** @format */

#themeToggler {
  text-align: center;
  background-color: var(--dark3);
  padding: 50px;
  display: flex;
  justify-content: center;
}

#themeToggler h1 {
  color: var(--light2);
  padding-bottom: 20px;
}

#buttonDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#lightBtn {
  background-color: #f9ebc8;
  border: #787878 3px solid;
}

#forestBtn {
  background-color: #a4ac86;
  border: #333d29 3px solid;
}

:root {
  --dark1: #333d29;
  --dark2: #414833;
  --dark3: #656d4a;
  --med1: #a4ac86;
  --light3: #c2c5aa;
  --light2: #f0ead2;
  --light1: #f8ede3;
  --backgroundImg1: url(https://media.giphy.com/media/3ohhwJLZ2P9KOt3Z6w/giphy.gif);
  --gradients: #f0ead2, #c2c5aa, #a4ac86;
}

body[data-theme="light-theme"] {
  --dark1: #7895b2;
  --dark2: #aebdca;
  --dark3: #b7c4cf;
  --med1: #f9ebc8;
  --light3: #ede4e0;
  --light2: #f8ede3;
  --light1: #fff8ea;
  --backgroundImg1: url(https://media.giphy.com/media/1TpGKApbHmkZa/giphy.gif);
  --gradients: #f8ede3, #ede4e0, #f9ebc8;
}

body[data-theme="forest-theme"] {
  --dark1: #333d29;
  --dark2: #414833;
  --dark3: #656d4a;
  --med1: #a4ac86;
  --light3: #c2c5aa;
  --light2: #f0ead2;
  --light1: #f8ede3;
  --backgroundImg1: url(https://media.giphy.com/media/3ohhwJLZ2P9KOt3Z6w/giphy.gif);
  --gradients: #f0ead2, #c2c5aa, #a4ac86;
}
