/** @format */

* {
  max-width: 100%;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: var(--light2);
  padding: 0;
  margin: 0;
}

#contactMe,
#aboutMe,
#myWork
 {
  padding-top: 120px !important;
}
