/** @format */

input[type="text"],
input[type="email"] {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--dark2);
  margin: 10px 0;
}

#contactMe {
  /* background-color: var(--dark3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--backgroundImg1) ;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px 0px;
  padding: 10px;
  background-color: var(--dark2);
  width: 500px;
  align-items: center;
  border-radius: 5px;
}

label {
  padding: 15px 0;
  color: var(--light1);
  border-radius: 5px;
}

textarea {
  width: 80%;
  border: 2px solid var(--dark1);
  border-radius: 5px;
  height: 100px;
}

input {
  margin: 50px 0;
}

#contactMe button {
  width: 30%;
  background-color: var(--light3);
  color: var(--light1);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#contactMe button:hover {
  background-color: var(--dark3);
  box-shadow: 2px 2px 5px var(--dark1);
}

.error-text {
  color: red;
  font-size: large;
}

.formTitle {
  color: var(--light1);
  margin: 10px
}

#successP {
  color: var(--light1);
  font-size: larger;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}