/** @format */

#themeToggler {
  text-align: center;
  background-color: var(--dark3);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: .8;
}

#themeToggler h1 {
  color: var(--light2);
  padding-bottom: 20px;
}

#buttonDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#themeToggler button {
  margin: 10px 20px;
}

#lightBtn {
  background-color: #aebdca;
  border: #7895b2 3px solid;
}

#forestBtn {
  background-color: #4E6C50;
  border: #395144 3px solid;
}

#darkBtn {
  background-color: #0F3460;
  border: #16213E 3px solid;
}

#sunsetBtn {
  background-color: #7A4069;
  border: #513252 3px solid;
}

:root {
  --dark1: #395144;
  --dark2: #4E6C50;
  --dark3: #749F82;
  --med1: #C8DBBE;
  --light3: #c2c5aa;
  --light2: #f0ead2;
  --light1: #f8ede3;
--backgroundImg1: url(https://64.media.tumblr.com/bb99d73b82360e969616fa10ee43c9ab/4f23868a1e3de9a5-ea/s540x810/7831a45c5a750047e6bc0e12f5af7185252865ba.gif);
  --gradients: #f0ead2, #c2c5aa, #C8DBBE;
  --opaqueDark1: rgba(57, 81, 68, 0.7);
  --backgroundImg2: url(https://i.pinimg.com/736x/66/88/51/668851a0f704fee447910bf983060d45.jpg);
}

body[data-theme="light-theme"] {
  --dark1: #7895b2;
  --dark2: #aebdca;
  --dark3: #b7c4cf;
  --med1: #E8DFCA;
  --light3: #ede4e0;
  --light2: #f8ede3;
  --light1: #ffffff;
  --backgroundImg1: url(https://i.pinimg.com/originals/d8/45/61/d84561a7b1195d7f02e8779e015a02eb.gif);
  --backgroundImg2: url(http://papers.co/wallpaper/papers.co-bl69-art-anime-sky-34-iphone6-plus-wallpaper.jpg);
  --gradients: #f8ede3, #ede4e0, #b7c4cf;
  --opaqueDark1: rgba(120, 149, 178, 0.7);
}

body[data-theme="forest-theme"] {
  --dark1: #395144;
  --dark2: #4E6C50;
  --dark3: #749F82;
  --med1: #C8DBBE;
  --light3: #c2c5aa;
  --light2: #f0ead2;
  --light1: #f8ede3;
  --backgroundImg1: url(https://i.pinimg.com/originals/6a/a3/7f/6aa37fd0017bdb291ca8cbdd8b0ede52.gif);
  --gradients: #f0ead2, #c2c5aa, #C8DBBE;
  --opaqueDark1: rgba(57, 81, 68, 0.7);
  --backgroundImg2: url(https://i.pinimg.com/736x/66/88/51/668851a0f704fee447910bf983060d45.jpg);
}

body[data-theme="dark-theme"] {
  --dark1: #0D0C1D;
  --dark2: #161B33;
  --dark3: #2F304C;
  --med1: #2B3464;
  --light3: #685D6F;
  --light2: #918599;
  --light1: #FBF5EE;
  --backgroundImg1: url(https://media3.giphy.com/media/3o6Zt93byJYeHqvrwc/200.gif);
  --gradients: #918599, #2B3464, #161B33;
  --opaqueDark1: rgba(13, 12, 29, 0.7);
  --backgroundImg2: url(https://w0.peakpx.com/wallpaper/479/300/HD-wallpaper-anime-night-starry-sky-milky-way-scenic-anime.jpg);
}

body[data-theme="sunset-theme"] {
  --dark1: #513252;
  --dark2: #7A4069;
  --dark3: #CA4E79;
  --med1: #FF87B2;
  --light3: #FFE898;
  --light2: #FEE0C0;
  --light1: #FAF0CA;
  --backgroundImg1: url(https://i.pinimg.com/originals/63/02/66/63026611a4c6b5d918c318c68c8fe97d.gif);
  --gradients: #FEE0C0, #FF87B2, #7A4069;
  --opaqueDark1: rgba(81, 50, 82, 0.7);
  --backgroundImg2: url(https://64.media.tumblr.com/62418054e978e2a88457428ef090d6d1/tumblr_pn1d99Bo6J1qa9gmgo1_1280.jpg);
}